header {
    text-align: center;
}

body {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: darkslateblue;
}

.container {
    width: 900px;
    max-width: 75%;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

#question {
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 10px 0;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    margin: 20px;
}

.btn {
    background-color: darkslateblue;
    padding: 5px 10px;
    color: white;
    box-shadow: 0px 0px 3px black;
}

.btn:hover {
    border: 2px dotted lavender;
}

.start, .clear, .return {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0px 5px 0px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.correct {
    background-color: darkgreen;
}

.wrong {
    background-color: darkred;
}

footer {
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
}

a, input, #submit {
    margin: 0 5px 0 5px;
}